<nav class="nav">
  <img src="/JekyllDemo/assets/img/logo-tripeux.jpg" alt="TRIpeux logo" class="nav__logo" id="logo" />

  <ul class="nav__links">
    <li class="nav__item">
      <a class="nav__link" href="https://www.facebook.com/triathlonpat" target="_blank">Notre Facebook ↗</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#section--1">Calendrier</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#section--2">Entraineurs</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#section--3">Nous</a>
    </li>
    <li class="nav__item hidden" id="nav-profile">
      <a class="nav__link" href="/JekyllDemo/src/pages/user.html">Profile</a>
    </li>
    <li class="nav__item">
      <a class="nav__link nav__link--btn" href="#" data-modal="login">Se connecter / Créer un compte</a>
    </li>
  </ul>
</nav>
